<h4>New Model</h4>
<p>{{model|json}}</p>
<form #mf="ngForm" (ngSubmit)="submit()">
    <div class="form-group" >
        <label for="brandId">Brand</label>
        <select class="form-control" name="brandId" id="brandId" [(ngModel)]="model.brandId">
            <option value=""></option>
            <option *ngFor="let b of brands" value="{{b.id}}">{{b.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="modelId">Model Id</label>
        <input class="form-control" id="modelId" name="modelId" type="text" [(ngModel)]="model.modelId">
    </div>
    <div class="form-group">
        <label for="brandModelId">Brand Model Name</label>
        <input class="form-control" id="brandModelId" name="brandModelId" type="text" [(ngModel)]="model.brandModelId">
    </div>
<button class="btn btn-primary">Save</button>
    </form>